:root {
  --black-theme-black: #1A1A1A;
  --black-theme-secondary-black: #2E2E2E;
  --black-theme-white: #EBEBEB;
  --black-theme-secondary-white: #CCCCCC;
  --black-theme-tertiary-white: #B3B3B3;
  --black-theme-digital-blue: #50b8f3;
  --primary-yellow: #e6db78;
  --primary-light-yellow: #efe8a9;
  --primary-dark-yellow: #b4ad6f;
}

html {
  height: 100%;
}

body {
  background-color: var(--black-theme-black);
  height: 100%;
  max-width: 512px;
  margin: auto;
}

#app {
  margin: 0 16px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
}

/*
  For now, setting all elements focus state to a blue outline.
  In the future, I may change this based off the element.
*/
*:focus {
  outline: solid #78bae6 1px;
  outline-offset: 2px;
  border-radius: 2px;
}

/* 
  This is to style the a tag's within RouterLink. I was having trouble figuring out how to pass in
  styles to RouterLink, so for now decided to just make some global styles.
*/
a {
  color: var(--black-theme-digital-blue);
  width: fit-content;
}
a:hover {
  color: #a5daf9;
}
a:active {
  color: #a1a8e8;
}

.button-common {
  color: var(--black-theme-black);
  background-color: var(--black-theme-white);
  padding: 0 16px;
  height: 32px;
  border: none;
  border-radius: 16px;
  cursor: pointer;

  /* Border was increasing the size of the element, so switched to box-shadow. */
  /* TODO: When making secondary button, use this. */
  /* -webkit-box-shadow: inset 0px 0px 0px 1px var(--primary-yellow);
  -moz-box-shadow: inset 0px 0px 0px 1px var(--primary-yellow);
  box-shadow: inset 0px 0px 0px 1px var(--primary-yellow); */
}

.button-common:active,
.button-common:hover {
  /* Turning off the box-shadow because the button will now be filled with a color. */
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.button-common:hover {
  background-color: var(--black-theme-secondary-white);
}

.button-common:active {
  background-color: var(--black-theme-tertiary-white);
}

.button-common:disabled {
  cursor: not-allowed;
}
